body {
  background-color: crimson
}

.title {
  text-align: center;
}

.navBar {
  float: right;
}

.img {
  width: 100%; 
}

.aboutHead {
  display: block;
  text-align: center;
}

.aboutInfo {
  display: inline-flex;
}

.whoAmI {
  width: 40%;
}

.skills {
  width: 40%;
  justify-content: right;
}

.projectImg {
  width: 40%;
}
