body {
  background-color: honeydew;
}

.title {
  text-align: center;
}

.navBar {
  float: right;
}

.img {
  width: 100%;
  height: 730px;
}

.aboutHead {
  display: block;
  text-align: center;
}

.aboutInfo {
  display: inline-flex;
  justify-content: space-between;
}

.whoAmI {
  width: 40%;
}

.skills {
  width: 40%;
  justify-content: right;
}

.project {
  display: inline-flex;
  justify-content: space-between;
  padding-top: 20px;
}

.projectHead {
  text-align: center;
}

.projectText {
  width: 40%;
}

.projectImg {
  width: 40%;
  height: 40%;
}

.contactInfo {
  display: inline;
}
